extends layout
block content
    //section#playground
    //    table
    //        each person in names
    //            tr
    //                each name in person
    //                    td= name
    section#content
        if name
            h2= text
            if hint
                p
                    i Hint: #{hint}
            a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
            br
            a(href="/cards")= 'New Question'
        else
            a(href="/")= 'Start Here'